<p id="notice"><%= notice %></p>

<p>
  <strong>Win:</strong>
  <%= @game.win %>
</p>

<p>
  <strong>Lose:</strong>
  <%= @game.lose %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
